/* MovieDetail.css */

.Movie-Container {
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}
  
  .Movie-Image {
    margin-top: 50px;
    width: fit-content;
    height: 500px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
  }
  
  .Movie-Text {
    margin-left: 25px;
    margin-top: 50px;
    max-width: 800px;
    background-color: var(--text-background-color);
    padding: 15px;
    border: 1px solid var(--third-color);
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    height: 100%;
    min-height: 500px;
    min-width: 300px;
  }
  
  h1, h2 {
    text-decoration: underline;
  }
  p {
    margin: 0;
    font-size: 16px; /* Adjust the font size for the movie overview */
  }
  
  .Movie-Info {
    margin-top: 50px;
    margin-left: 25px;
    max-width: 800px;
    width: 100%;
    height: -moz-fit-content;
    height: 500px;
    overflow-y: auto;
    background-color: var(--text-background-color);
    padding: 15px;
    border: 1px solid var(--third-color);
    border-radius: 8px;
    text-align: center;
    min-height: 500px;
    min-width: 300px;
}
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 1200px) {
    .Movie-Container {
      display: flex;
      max-width: 80%;
      text-align: center;
      margin: 30px auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
    .Movie-Image {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
  
    .Movie-Info {
      margin-left: 0;
    }
    
  }