.movie-box-container
{
    margin: 50px;

}

@media only screen and (max-width: 990px){
    
    .Movie-Image{


    }
    .Movie-Box{
        width: 100%;
        overflow: hidden;
        flex-direction:column;
    }
    
    .Movie-Container{       
        flex-direction: column;
        align-items: center;
        overflow: hidden;
}

    .Movie-Desc{
        
       max-height: 200px;
       text-overflow:ellipsis;
       overflow: hidden;
    }
}