  .Movies-Box{
    width: 50%;
    height: 100vh;
    margin: 25px;
    display: grid;
    flex-direction: column;
    align-items: center;
    top: 0;
    padding: 30px;
    max-width: fit-content;
    margin-bottom: 25px;
    background-color: var(--body-background-color);
    border-radius: 35px;
    box-shadow: var(--box-shadow);
     position: relative;
    

}

.Movies-Container
{   
  text-decoration: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.Movies-Desc{
    margin-top: 15px;
  
    color: var(--second-color);
    width: 100%;
    text-align: center;
    padding: 5px;
    text-overflow:ellipsis ;
    overflow: hidden;

}
