.Home-container{
position: relative;
    align-items: center;
    justify-content: center;
}

.Top-Movie{
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--second-color);
    font-size: 35px;
    background-color: var(--body-background-color);

}
.dark-mode .Top-Movie{
    color: var(--light-mode-text-color);
    background-color: var(--first-color);
}



@media screen and (max-width: 990px){
    .Top-Movie{
        font-size: 25px;
    }
    
}