/* components/News/News.css */
.News-Box {
  height: 250px;
  padding: 10px;
  background-color: var(--body-background-color);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  margin-top: 100px;
  position:relative;
  overflow: hidden;
  width: 80%;

  margin-bottom: 80px;
  


}
.dark-mode .News-Box {
  background-color: var(--first-color);

}
  .News-Box.active {
    top: 0;
    position: relative;
    display: flex;
    

  }
  .News-Box img{
    position: absolute;
    top: 0;
    max-width: 450px;
    height: 300px;
    overflow: hidden;
    left: 0;
    align-items: center;
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    
  }

  .Article-full {

    height: 250px;
    text-overflow: ellipsis;
    color: var(--second-color);
    position: absolute;
    padding: 10px;
    font-size: large;
    padding: 5px;
    left: 450px;
    align-items: center;
    justify-content: center;
    
 
  }
  .dark-mode .Article-full {
    color: var(--light-mode-text-color);
  }
  .Article-title{
    
    color: var(--second-color);
    text-overflow: ellipsis;
    justify-content: space-between;
    font-size: 25px;
    display: flex;
    text-decoration: none;
  }
  .Article-desc{
    
    position: relative;
    width: 1000px;
    top: 45px;
    font-weight: 300;
    overflow: inherit;
    text-overflow: ellipsis;
  }
  .Article-date{
    position:relative;
    width: 200px;
    top: 25px;
    font-weight: 600;
  }

  .Article-title a{
    text-decoration: none;
    color: var(--second-color);
}


  


  @media only screen and (max-width: 990px){
    
    .News-Box {
   /* Align to the top on smaller screens */
      max-width: 444px;
    }
    .Article-full {
      left: 0;
      background-color: var(--body-background-color);
      top: 150px;
      overflow: hidden;
      width: 100%;
    }
    .Article-desc{
      display: none;
    }
    .Article-title{
      text-overflow:ellipsis ;
      font-size: 20px;
    }
    .Article-date{
      top: 70px;
      left: 10px;
      font-size: 15px;
      position: absolute;
    }
    

}