/* components/News/News.css */
.News-Box {
  height: 300px;
  padding: 10px;
  background-color: var(--body-background-color);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  margin-top: 150px;
  position: relative;
  overflow: hidden;
}
  .News-Box.active {
    top: 0;
    justify-content: flex-end; /* Align to the right on smaller screens */
    position: absolute;
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .News-Box img{
    position: absolute;
    top: 0;
    height: 300px;
    left: 0;
    align-items: center;
    display: block;
    
  }

  .Article-desc {
    color: var(--second-color);
     
    top: 0;
    position: absolute;

  
  }
