/*SEARCHBAR*/

.Search-bar {
    display: flex;
    align-items: center;
    margin-top: 25px;
    background-color: var(--body-background-color);
    padding: 25px;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    box-shadow: var(--box-shadow);
    height: 70px;
    margin-bottom: 25px;

  }
  .Search-Results {
    position:fixed;
    width: 50%;
    max-height: 250px;
    overflow-y: auto;
    background-color: var(--body-background-color);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    
    
  }
  
  .Search-Results li {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Search-Results li:hover {
    background-color: #f0f0f0;
  }
  .dark-mode .Search-bar {
    background-color: var(--first-color);
  }
  
  .Search-Input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 20px; 
    display: flex;
    height: 100%;
    width: 100%;
    background-color: var(--body-background-color);
  }
  
  button {
    padding: 17px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: var(--second-color);
    cursor: pointer;
    font-size: 16px;
    height: 20px;
    align-items: center;
    display: flex;
  }
  
  button:hover {
    background-color: #6B56E9;
  }

  .Search-bar ::placeholder{
    color: rgba(255, 253, 253, 0.700);
  }
  
  @media only screen and (max-width: 990px){
    .Search-bar{
      margin: 25px;
    }

  }