 /*SIDEBAR LIST*/
 .your-groups-list{
    padding-left: 30px;
    padding-top: 10px;
    }
    .your-groups-list img{
        height: 25px;
        margin-right: 5px;
     }
.your-groups-list, h3{
    text-decoration: underline;
    color: var(--dark-first-color);
}
.dark-mode .your-groups-list, h3{
    color: var(--light-mode-text-color);
    color: var(--second-color);
}

.your-groups-list, ul li a{
    text-decoration: none, underline;  
    color: var(--second-color);
 }

 .your-groups-list, ul li a:hover{
    color: var(--dark-first-color);
 }

.your-groups-list, ul li {
    list-style: none;
    margin-top: 5px;  
 }

/*GROUP JOIN LIST*/
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}

.groups-list {
    background-color: var(--dark-first-color);
    width: 400px;
    height: 400px;
    border-radius: 30px;
}
.dark-mode .groups-list {
    background-color: var(--first-color);
  }

.groups-list img {
    height: 25px;
    margin-right: 5px;
}

.groups-list table {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: -25px; 
}

.groups-list td {
    padding: 15px;
    padding-bottom: 5px;
    color: var(--second-color);
}
.dark-mode .groups-list td {
    color: var(--light-mode-text-color);
  }

.groups-list th{
    padding: 20px;
    color: var(--second-color);
}
.dark-mode .groups-list th {
    color: var(--light-mode-text-color);
  }


.groups-list h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-color);
}
.dark-mode .groups-list h3 {
    color: var(--light-mode-text-color);
  }
.groups-list button {
    background-color: var(--hover-backround-color);
    color: var(--second-color); 
    padding: 8px 16px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
}

.groups-list button:hover {
    background-color: #6B56E9; }

    .groups-list a{
        text-decoration: none;
        color: var(--second-color);
    }

/*CREATING-GROUP-CSS*/

.creating-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.creating-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sidebar-first-color);
    width: 300px;
    height: 300px;
    border-radius: 30px;
    padding-top: 10px;  
  }
  .dark-mode .creating-form-container {
    background-color: var(--first-color);
  }
  .creating-form-container label{
    color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.creating-form-container input{
    width: 200px;
}

.creating-form-container button {
    border-radius: 4px;
    margin-top: 10px;
  }
 
  .label-1{
margin-bottom: 10px;
 }
  
.label-2{
margin-bottom: 10px;
}


  

  .creating-form-container ::placeholder{
    color: var(--placeholder-color);
    padding-left: 10px;
  }



/*CHATPAGE-CSS*/



.chat{
display: flex;
align-items: center;
justify-content: center;
color: var(--second-color);
padding-top: 100px;
}

.chat h1{
    display: flex;
    justify-content: center;
 color: var(--second-color);
}

.chat button{
    display: flex;
    justify-content: center;
width: fit-content;
}

.chat-backround{
background-color: var(--dark-first-color);
width: 80%;
height: 800px;
border-radius: 20px;
}


.chat ::placeholder{
    color: var(--placeholder-color);
    padding-left: 10px;
}

.chat Form{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 670px;
    
}


/*CREATE-GROUP-BUTTON-CSS*/

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.create-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.create-button button{
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .create-button button a{
    color: var(--second-color);
    text-decoration: none;
  }

  button:hover {
    background-color: #6B56E9;
  }