@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --first-color: #a7a0a0;
    --second-color: #ffffff;
    --third-color: #f5f5f5;
    --dark-first-color: #ffffff;
    --dark-second-color: #ebebeb;


    --hover-color: rgb(167, 164, 164);

    --box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.205);;
/*
    --body-bg-img: url('');
    --body-bg-img-dark: url('');
*/
    --body-background-color: #202020f8;
    --navbar-background-color: #202020f8;
    --hover-background-color: rgba(0, 0, 0, 0.205);

    --small-font-size: 0.9em;
    --normal-font-size: 1em;
    --big-font-size: 1.3em;

    --scroll-bar-color: #4d4d4d;
    --scroll-thumb-color: #585a5e;
    --scroll-thumb-hover-color: #5f6069;
}

@media only screen and (max-width: 990px){
    .navbar-links{
        transition: all 0.6s ease-in-out;
        display: none;
      }
}

@media (min-width: 989px) {
    .dropdown{
        display: none;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

html{
    scroll-behavior: smooth;
}

.logo-name{
    display: flex;
    background-color: #6B56E9;
    padding: 10px;
    border-radius: 20px;
    display:flex;
    left: 25px;
    justify-content: left;
    position:fixed;
    
}

.navbar{
    color: var(--third-color);
    backdrop-filter: blur(20px);
    background-color: var(--navbar-background-color);
    font-size: var(--big-font-size);
    display: flex;
    justify-content: center ;
    align-items: center;
    box-shadow: var(--box-shadow);
    margin-left: auto;
    margin-right: auto;
    height: calc(4rem + 1rem);
}
.navbar-links ul {
    color: var(--third-color);
    list-style-type: none;
    margin: 35px;
    display: flex;
    justify-content: center ;
    
}

.navbar-links ul li {
    margin-right: 50px;
}

.navbar-links ul li a {
    color: var(--second-color);
    text-decoration: none;
    padding: 25px;
}

.navbar-links ul li a.active {
    background-color: var(--hover-background-color);
    padding: 25px;
    border-radius: 5px;
    padding-top: 100%;
    padding-bottom: 25px;
}

.navbar-links ul li a:hover { 
    color: var(--hover-color);
    background-color: var(--hover-background-color);
    width: 120%;
    padding-top: 100%;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.Sign-in{
    position: absolute;
    display: flex;
    right: 15px;
    color: var(--third-color);
    border-radius: 10px;
    background: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-weight: 500;
}

.Sign-in:hover{
    border-radius: 10px;
    background-color: var(--hover-background-color);
}

.dropdown {
    position: relative;

  }

  .dropdown-content {
    top: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    display: block !important;
    transform: translateX(-600px);
    display: none;
    max-height: 0;
    position: fixed;
    background-color: var(--body-background-color);
    overflow-y: auto;
    min-height: calc(110vh);
    left: 0;
    width: 50%;

  }
  .dropdown-content.show{
    transform: translateX(0px);
    left: 0;
    display: block;
    max-height: fit-content;
  }
  
  .dropdown-content a {
    transition: right 0.6s ease-in-out;
    text-decoration: none;
    display: block;
    padding-top: 10px;
  }
  .dropdown-content a.active {
    transition: right 0.6s ease-in-out;
    padding: 10px;
    border-radius: 5px;
    
  }
  .dropdown-content a:hover{
    color: var(--hover-color);
    background-color: var(--hover-background-color);
    box-sizing: border-box;
  }

footer {
    background-color: #1a1a1a93;
    padding: 10px;
    text-align: center;
    box-shadow: var(--box-shadow);
    color: var(--third-color); 
    width: 100%;

}

