/* Appearance.css */

.appearance-page-container {
  display: flex;
  height: 100%;
  width: 100%;
  }
  
  .Appearance-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  div > label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  label > input {
    width: fit-content;
    margin-left: 10px;
    border-radius: 4px;
    background-color: var(--yellow-color);

  }
  
  label > button {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding: 11px 15px;
    border-radius: 4px;
  }
  
  label img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }
  
  .avatar-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--darker-color);
    border: 1px solid #ccc;
    z-index: 1000;
  }
  
  .avatar-modal button {
    margin-top: 10px;
  }
  
  .avatar-modal ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .avatar-modal li {
    margin: 10px;
  }
  
  .avatar-modal img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s ease-in-out;
  }
  
  .avatar-modal img:hover {
    border-color: #3498db;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  @media screen and (max-width: 1200px) {
    h2 {
      font-size: 20px;
    }

  label > button{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  label > input{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .avatar-modal{
    width: fit-content;
    height: fill;
    margin-left:105px;
    padding: 0;
    top: 0;
    left: 0;
    transform: none;
    border: none;
    background-color: var(--darker-color);
  }
  .avatar-modal img {
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
  }
    
  }
  