/* Clock.css */

.Clock {
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    position: sticky;
    margin-left: 50px;
  }
  
  .time {

    font-size: large;
    font-weight: bold;;
    color: var(--second-color);
    
  }
  .dark-mode .time {
    color: var(--light-mode-text-color);
  }
  
  
  @media screen and (max-width: 1200px)  {
    .Clock {
      display: none;
    }
    
  }