.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--sidebar-first-color);
    height: 100vh;
  }
.dark-mode .sidebar {
    background-color: var(--sidebar-second-color);
}
  
.sidebar a {
    font-size: xx-large;
    text-decoration: none;
    margin-left: 20px;

}
.sidebar a:hover {
    color: var(--hover-color);
}
.sidebar li.selected {
    border-radius: 7px;
    color: rgb(0, 0, 0);
    background-color: var(--hover-background-color);
}

@media screen and (max-width: 1200px) {
    .sidebar {
        max-width: 130px;
    }
    .sidebar a {
        font-size: 15px;
        text-align: center;
        margin:5px 5px 5px 5px;
    }
}