
.logo-name{
    display: flex;
    background-color: #6B56E9;
    padding: 10px;
    border-radius: 20px;
    display:flex;
    left: 25px;
    justify-content: left;
    position:fixed;
    
}

.navbar{
  z-index: 1000;
    color: var(--third-color);
    backdrop-filter: blur(20px);
    background-color: var(--navbar-background-color);
    font-size: var(--big-font-size);
    display: flex;
    justify-content: center ;
    align-items: center;
    box-shadow: var(--box-shadow);
    margin-left: auto;
    margin-right: auto;
    height: calc(4rem + 1rem);
  
}
.navbar-links ul {
    color: var(--third-color);
    list-style-type: none;
    margin: 35px;
    display: flex;
    justify-content: center ;
    
}

.navbar-links ul li {
    margin-right: 50px;
}

.navbar-links ul li a {
    color: var(--second-color);
    text-decoration: none;
    padding: 25px;
}

.navbar-links ul li a.active {
    background-color: var(--hover-background-color);
    padding: 25px;
    border-radius: 5px;
    padding-top: 100%;
    padding-bottom: 24px;
}

.navbar-links ul li a:hover { 
    color: var(--hover-color);
    background-color: var(--hover-background-color);
    width: 120%;
    padding-top: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}


.sign-in-button {
  position: absolute;
  display: flex;
  right: 15px;
  color: #6B56E9 !important;
  border-radius: 10px;
  background: none;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  font-weight: 500;
  text-decoration: none; /* Remove default underline on the link */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}


.sign-in-button:hover{
    border-radius: 7px;
    background-color: var(--hover-background-color);
}


.dropdown-content {
  z-index: 100;
  top: 100%;
  transition: all .2s linear;
  display: none;
  position: fixed;
  background-color: var(--body-background-color);
  height: calc(125vh);
  left: 0;
  width: 50%;
}

.dropdown-container {
  position: relative; /* Ensure the parent container is positioned relative */
}

.dropdown-content.show {
  z-index: 100;
  position: absolute; /* Change back to absolute */
  transform: translateX(0);
  left: 0;
  display: block;
  top: 100%; /* Adjust top position to align with the parent container */
}

.dropdown-content a {
  transition: right 0.6s ease-in-out;
  text-decoration: none;
  display: block;
  padding-top: 10px;
}

.dropdown-content a.active {
  transition: right 0.6s ease-in-out;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-content a:hover {
  color: var(--hover-color);
  background-color: var(--hover-background-color);
  box-sizing: border-box;
}
