.TopMovie-Box {
    width: 450px;
    min-height: 900px;
    height: fit-content;
    margin: 25px;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; /* Set the flex-direction to column */
    padding: 25px;
    margin-bottom: 25px;
    background-color: var(--body-background-color);
    border-radius: 35px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.dark-mode .Movie-Box{
    background-color: var(--first-color);
}
.HomeMovie-Container
{   

    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: row;
    display: flex;
    padding: 10px;
    border-radius: 20px;

    
   
    
}
.Movie-Image{
    width:  300px;
    height: 400px;
    align-items: center;
    justify-content: center;
 
  
}

.Movie-Link{
    width: 450px;
    height: 750px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Movie-Desc{
    height: 100%;
    margin-top: 15px;
    color: var(--second-color);
    width: 100%;
    text-align: center;
    position: relative;
    padding: 5px;
    text-overflow:ellipsis ;
    overflow: hidden;
}
.movie-overview{
    height:fit-content;
    overflow: hidden;
}
.Topmovie-release-date{
    bottom: 0;
    left: 0;
    font-weight: 600;
    display: flex;
    margin-top: 25px;

}
.dark-mode .Movie-Desc{
    color: var(--light-mode-text-color);

}

@media screen and (max-width: 990px){
    .TopMovie-Box{
    min-height: fit-content;
    height:100%;
    width: 300px;
    margin: 25px;
    padding: 30px;
    margin-bottom: 25px;
    background-color: var(--body-background-color);
    border-radius: 35px;
    box-shadow: var(--box-shadow);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    }
    .Movie-Image{
        display: flex;
        flex-direction: column;
        width:  200px;
        height: 300px;
    }
    .Movie-Link{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 500px;
    }
    .movie-overview{
        height: fit-content;
    }
    .Topmovie-release-date{
    bottom: 0;
    left: 0;
    font-weight: 600;
    display: flex;
    margin-top: 25px;
    }
    .Movie-Desc{
        font-size: 12px;
    }
    .HomeMovie-Container{   

    flex-direction: column;
    display: flex;    
}
}