.review-box{
  flex-direction: column;
  padding: 30px;
  width: 90%;
  background-color: var(--text-background-color);
  border-radius: 8px;
  border: 1px solid var(--third-color);
  min-height: 300px;
  overflow-y: auto;
  max-width: 850px;
  height: 340px;
  
}

@media  screen and (max-width: 1200px) {
  .review-box{
    width: 100%;
    max-width: 430px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
}