.Reviews-box{
    background-color: rgb(23, 121, 206);
    position: center;
    content: center;
    width: auto;
    height: 500px;
}



.Review-container{
    
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.dark-mode .Movies-Desc{
    color: var(--text-color-light);
}