.Review-container{
    flex-direction: column;
    padding: 30px;
    margin-bottom: 50px;
    width: 90%;
    background-color: var(--text-background-color);
    border-radius: 8px;
    border: 1px solid var(--third-color);
    min-height: 300px;
    overflow-y: auto;
    height: 340px;
}

@media screen and (max-width: 1200px) {
    .Review-container{
        width: 100%;
        max-width: 430px;
        align-items: center;
        justify-content: center;
    }
}